.editorContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.editor {
  width: 450px !important;/* Fixed width */
  height: 300px; /* Adjust height as needed */
  border: 1px solid #ccc;
  margin-bottom: 10px;
}